@page
@model WebStore.Views.Home.Index

<!DOCTYPE html>

<html>
<head>
    <title>Hi</title>
</head>
<body>
<h1>Страница компании</h1>
<p>---</p>
<a href="/home/getemployees">Перейти к списку сотрудников</a>
</body>
</html>