@model WebStore.Model.Employee

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Id</title>
</head>
<body>
<h3>Карточка сотрудника @Model.LastName</h3>
<p>Дней, проведенных в нашей компании - @Model.TotalDaysInCompany</p>
<a href="/home/getemployees">Назад к списку сотрудников</a>
</body>
</html>